Made by: Nicolas Veiga

#### Introduction
Faire Backend Exercise

Using the Faire API*1, you will write a program that accepts an API key as a single command line parameter, which should be sent with all requests in the X-FAIRE-ACCESS-TOKEN header, and does the following:

Consumes all products for a given brand*2, recording the inventory levels for each product option Consumes all orders, accepting the order if there is inventory to fulfill the order, otherwise it marks the items that donâ€™t have enough inventory as backordered Update the inventory levels of product options as each order is moved to processing After all orders have been processed, the program should print the following metrics, plus 2 of your choosing, and then exit - your creativity is welcome! The best selling product option The largest order by dollar amount The state with the most orders

For testing, you can use the API key: HQLA9307HSLQYTC24PO2G0LITTIOHS2MJC8120PVZ83HJK4KACRZJL91QB7K01NWS2TUCFXGCHQ8HVED8WNZG0KS6XRNBFRNGY71

*1 - The base URL to use is https://www.faire-stage.com

*2 - We recommend using Tea Drops, brand token = b_d2481b88

#### Development

In [1]:
import requests
import json
import pandas as pd

API_KEY = 'HQLA9307HSLQYTC24PO2G0LITTIOHS2MJC8120PVZ83HJK4KACRZJL91QB7K01NWS2TUCFXGCHQ8HVED8WNZG0KS6XRNBFRNGY71'

In [2]:
def queryProducts(APIKey):
    products = []
    pageIndex = 1
    parameters = {"page": pageIndex}
    myUrl = "https://www.faire-stage.com/api/v1/products"
    head = {"X-FAIRE-ACCESS-TOKEN": APIKey,
            "Accept": "application/json"}
    try:
        response = requests.get(myUrl, params=parameters, headers=head)
    except:
        print("Something wrong with your internet connection, try again")
        return []

    if (response.status_code == 200):
        currentPage = response.json()["products"]
        products = currentPage

        while(len(currentPage) == response.json()["limit"]):
            pageIndex += 1
            parameters = {"page": pageIndex}
            try:
                response = requests.get(myUrl, params=parameters, headers=head)
            except:
                print("Something wrong with your internet connection, try again")
                return []

            if (response.status_code == 200):
                currentPage = response.json()["products"]
                products += currentPage
            else:
                print("Servers are down, try again")
                return []
    else:
        print("Servers are down, try again")
        return []

    return products
productsDataFrame = queryProducts(API_KEY)
print(len(productsDataFrame))

20

In [3]:
productsDataFrame = pd.DataFrame.from_dict(productsDataFrame)
productsDataFrame.head()

,active,brand_id,created_at,description,id,name,options,retail_price_cents,short_description,unit_multiplier,updated_at,wholesale_price_cents
0,False,b_d2481b88,20180423T223716.000Z,"Designed for direct-to-consumer, restaurants, ...",p_63sorm2b,Single Serve Tea Drops,"[{'id': 'po_ahmza3hm', 'created_at': '20180423...",225,"Designed for direct-to-consumer, restaurants, ...",25,20190324T080024.000Z,90
1,True,b_d2481b88,20180423T223717.000Z,Compostable Box: (10 Drops/Box) Compostable Bo...,p_c2dny7bu,Tea Drops in Compostable Box,"[{'id': 'po_etc229aa', 'created_at': '20180423...",1000,Compostable Box: (10 Drops/Box) Compostable Bo...,6,20190324T080024.000Z,585
2,True,b_d2481b88,20180423T223717.000Z,8 drops. This package is ideal for retailers j...,p_9d0tbjep,Tea Drops in Medium Wood Box,"[{'id': 'po_6rjvcsjc', 'created_at': '20180423...",1400,8 drops. This package is ideal for retailers j...,1,20190324T080024.000Z,675
3,True,b_d2481b88,20180423T223717.000Z,The must-have gift for any tea enthusiast. Our...,p_4y2z6ra2,Large Sampler Box,"[{'id': 'po_5i52cny4', 'created_at': '20180423...",3400,The must-have gift for any tea enthusiast. Our...,1,20190324T080024.000Z,1700
4,False,b_d2481b88,20180423T223717.000Z,Fits 8 Tea Drops,p_51poeros,Unfilled Medium Wood Box,"[{'id': 'po_cdm9klqb', 'created_at': '20180423...",500,Fits 8 Tea Drops,1,20190324T080024.000Z,280

Using pandas to handle the tables

In [4]:
dataframeOptions = pd.DataFrame.from_dict(productsDataFrame["options"][0])
dataframeOptions

,active,available_quantity,created_at,id,name,product_id,sku,updated_at
0,True,0,20180423T223716.000Z,po_ahmza3hm,Rose Earl Grey,p_63sorm2b,SGS0001,20190324T034954.000Z
1,True,0,20180423T223716.000Z,po_8dc5r8ws,Citrus Ginger,p_63sorm2b,SGS0002,20190323T223212.000Z
2,True,0,20180423T223716.000Z,po_c9xzsf2x,Sweet Peppermint,p_63sorm2b,SGS0003,20190323T131429.000Z

In [5]:
# Grouping the options so we can have everythin in one table
dataframeOptions = pd.DataFrame.from_dict(productsDataFrame["options"][0])
for i in range(1, len(productsDataFrame)):
    dataframeOptions = dataframeOptions.append(pd.DataFrame.from_dict(productsDataFrame["options"][i]))

C:\Users\veiga\AppData\Local\conda\conda\envs\py3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [6]:
dataframeOptions.head()

,active,available_quantity,created_at,id,name,product_id,sku,updated_at
0,True,0.0,20180423T223716.000Z,po_ahmza3hm,Rose Earl Grey,p_63sorm2b,SGS0001,20190324T034954.000Z
1,True,0.0,20180423T223716.000Z,po_8dc5r8ws,Citrus Ginger,p_63sorm2b,SGS0002,20190323T223212.000Z
2,True,0.0,20180423T223716.000Z,po_c9xzsf2x,Sweet Peppermint,p_63sorm2b,SGS0003,20190323T131429.000Z
0,False,-30.0,20180423T223717.000Z,po_etc229aa,Rose Earl Grey,p_c2dny7bu,COMPF001,20190324T034954.000Z
1,True,-30.0,20180423T223717.000Z,po_b2v6owmt,Citrus Ginger,p_c2dny7bu,COMPF002,20190323T223227.000Z

In [7]:
inventory = dataframeOptions[(dataframeOptions.available_quantity.notnull()) & (dataframeOptions.available_quantity > 0)]
inventory

,active,available_quantity,created_at,id,name,product_id,sku,updated_at
0,True,434.0,20180423T223717.000Z,po_5i52cny4,Rose Earl Grey,p_4y2z6ra2,WOODF001,20190323T211532.000Z
0,False,10.0,20180423T223717.000Z,po_b2ksg5wi,Rose Early Grey,p_4kneqjyb,IND0001,20190323T231307.000Z
0,False,10.0,20180423T223717.000Z,po_4bj8rwu9,default,p_7pid8vps,WOODLARGE,20190324T122704.000Z
0,False,434.0,20190204T222051.000Z,po_em65etwg73,Rose Earl Grey,p_2k5o128gwg,WOODF001,20190324T122704.000Z

In [8]:
def queryOrders(API_KEY):
    orders = []
    pageIndex = 1
    parameters = {"page": pageIndex}
    myUrl = "https://www.faire-stage.com/api/v1/orders"
    head = {"X-FAIRE-ACCESS-TOKEN": API_KEY,
            "Accept": "application/json"}
    try:
        response = requests.get(myUrl, params=parameters, headers=head)
    except:
        print("Something wrong with your internet connection, try again")
        return []

    if (response.status_code == 200):
        currentPage = response.json()["orders"]
        orders = currentPage
        
        while(len(currentPage) == response.json()["limit"]):
            pageIndex += 1
            parameters = {"page": pageIndex}
            try:
                response = requests.get(myUrl, params=parameters, headers=head)
            except:
                print("Something wrong with your internet connection, try again")
                return []
            if (response.status_code == 200):
                currentPage = response.json()["orders"]
                orders += currentPage
            else:
                print("Something wrong with servers")
                return [] 
    else:
        print("Something wrong with servers")
        return []

    return orders
orders = queryOrders(API_KEY)
print(len(orders))

93

In [9]:
ordersDataFrame = pd.DataFrame.from_dict(orders)
ordersDataFrame.head()

,address,created_at,id,items,ship_after,shipments,state,updated_at
0,"{'name': 'luan', 'address1': 'wejfalf', 'addre...",20180510T181535.000Z,bo_3s7ei5an,"[{'id': 'oi_6x9ejf4p', 'created_at': '20180510...",20180510T181535.000Z,[],CANCELED,20181031T192456.000Z
1,"{'name': 'kllkjlkjlkj', 'address1': 'ljkljkljl...",20181025T202332.000Z,bo_3iuhowot,"[{'id': 'oi_ce3i14rx', 'created_at': '20181025...",20181025T202332.000Z,"[{'id': 's_a7nrmvu4', 'created_at': '20181025T...",DELIVERED,20181108T210001.000Z
2,"{'name': 'asfaf', 'address1': 'asfas', 'postal...",20181026T134537.000Z,bo_3i2mfdbj,"[{'id': 'oi_7vi9dze7', 'created_at': '20181026...",20181026T134537.000Z,"[{'id': 's_2osshc9f', 'created_at': '20181026T...",DELIVERED,20181109T140000.000Z
3,"{'name': 'asfasa', 'address1': 'asfasf', 'post...",20181026T141458.000Z,bo_2fhfjja9,"[{'id': 'oi_3oocl7pb', 'created_at': '20181026...",20181026T141458.000Z,"[{'id': 's_9livqhn6', 'created_at': '20181026T...",DELIVERED,20181109T150000.000Z
4,"{'name': 'Guest Store', 'address1': '1455 Nort...",20181029T172532.000Z,bo_ei8yw53s,"[{'id': 'oi_6w08p2qr', 'created_at': '20181029...",20181029T172532.000Z,"[{'id': 's_7wa62cnd', 'created_at': '20181029T...",DELIVERED,20181112T180001.000Z

In [10]:
ordersDataFrame.state.value_counts()

PROCESSING    48
DELIVERED     41
CANCELED       3
IN_TRANSIT     1
Name: state, dtype: int64

Have to update the itens that are in PROCESSING state. If there is inventory, we subtract the amount of itens from inventory and keep the state as PROCESSING. If there is no inventory we change the state to BACKORDERED.
I need to pay attention to shipt_after and created_at paramenters. Since there is no way from the data to know how long it takes for a order to be ready, I will considere shipt_after as my variable that controls with order is processed first.

Leave only PROCESSING values in table and sort them by ship_after:

In [11]:
ordersInProcessingState = ordersDataFrame[ordersDataFrame.state == "PROCESSING"]
ordersInProcessingState = ordersInProcessingState.sort_values(by=['ship_after'])
ordersInProcessingState.head()

,address,created_at,id,items,ship_after,shipments,state,updated_at
90,"{'name': 'paul test', 'address1': '1230 U.S. 1...",20181218T141258.000Z,bo_alanim4r,"[{'id': 'oi_blzj70us', 'created_at': '20181218...",20181218T141258.000Z,[],PROCESSING,20190324T131209.000Z
91,"{'name': 'paul test', 'address1': '3002 Broadw...",20181219T014333.000Z,bo_2ppdbqvn,"[{'id': 'oi_dcaed3su', 'created_at': '20181219...",20181219T014333.000Z,[],PROCESSING,20190324T131209.000Z
87,"{'name': 'Tw', 'address1': 'Fe', 'address2': '...",20181219T014520.000Z,bo_2x2y799i,"[{'id': 'oi_g55irsr1', 'created_at': '20181219...",20181219T014520.000Z,[],PROCESSING,20190324T131208.000Z
56,"{'name': 'Marcelo Roles', 'address1': '300 Cal...",20181219T161843.000Z,bo_bg4cwfos,"[{'id': 'oi_7nx8hl22', 'created_at': '20181219...",20181219T161843.000Z,[],PROCESSING,20190324T131200.000Z
60,"{'name': 'Olivia Chen', 'address1': '525 2nd S...",20181220T005231.000Z,bo_746s4oh4,"[{'id': 'oi_75arwwnw', 'created_at': '20181220...",20181220T005231.000Z,[],PROCESSING,20190324T131201.000Z

Now we have to iterate over all the orders and evaluate if the items are available. If the items are available, change the status to processing. Otherwihse, change the status to BACKORDERED.

In [12]:
def updateState(order, ableToFullfill, index):
    if(not ableToFullfill):
        #TODO: should we be sending Backordering Items, sending a post command
        #https://www.faire.com/api/v1/orders/<ID>/items/availability
        index = ordersDataFrame[ordersDataFrame.id == orderIds.values[index]].index[0]
        ordersDataFrame.state.iloc[index] = "BACKORDERED"

I am not considering that we can have an order, with multiple items of the same product (product id and product option id). If that is allowed, I will have to verify every item of an order and accumulate the amount of products, and them compare with the amount in inventory.

In [13]:
def updateInventory(order):
    for item in order:
        #TODO: send a PATCH https://www.faire.com/api/v1/products/options/<ID>
        optionsDataFrame = pd.DataFrame.from_dict(productsDataFrame.options[productsDataFrame.id == item["product_id"]].values[0])
        index = optionsDataFrame[optionsDataFrame.id == item["product_option_id"]].index[0]
        optionsDataFrame.available_quantity.iloc[index] -= item["quantity"]
        
        index = productsDataFrame.options[productsDataFrame.id == item["product_id"]].index[0]
        productsDataFrame.options.iloc[index] = optionsDataFrame.to_dict("records")

In [14]:
orderIds = ordersInProcessingState["id"]
for index, order in enumerate(ordersInProcessingState["items"]):
    ableToFullfill = False
    for item in order:
        if(not inventory[(inventory["product_id"] == item["product_id"]) & 
                         (inventory["id"] == item["product_option_id"])].empty):
            if (item["quantity"] <= 
                inventory[(inventory["product_id"] == item["product_id"]) & 
                          (inventory["id"] == item["product_option_id"])].available_quantity.values[0]):
                ableToFullfill = True
            else:
                ableToFullfill = False
                break
        else:
            ableToFullfill = False
            break
    if(ableToFullfill):
        updateInventory(order)
    updateState(order, ableToFullfill, index)

In [15]:
ordersDataFrame

,address,created_at,id,items,ship_after,shipments,state,updated_at
0,"{'name': 'luan', 'address1': 'wejfalf', 'addre...",20180510T181535.000Z,bo_3s7ei5an,"[{'id': 'oi_6x9ejf4p', 'created_at': '20180510...",20180510T181535.000Z,[],CANCELED,20181031T192456.000Z
1,"{'name': 'kllkjlkjlkj', 'address1': 'ljkljkljl...",20181025T202332.000Z,bo_3iuhowot,"[{'id': 'oi_ce3i14rx', 'created_at': '20181025...",20181025T202332.000Z,"[{'id': 's_a7nrmvu4', 'created_at': '20181025T...",DELIVERED,20181108T210001.000Z
2,"{'name': 'asfaf', 'address1': 'asfas', 'postal...",20181026T134537.000Z,bo_3i2mfdbj,"[{'id': 'oi_7vi9dze7', 'created_at': '20181026...",20181026T134537.000Z,"[{'id': 's_2osshc9f', 'created_at': '20181026T...",DELIVERED,20181109T140000.000Z
3,"{'name': 'asfasa', 'address1': 'asfasf', 'post...",20181026T141458.000Z,bo_2fhfjja9,"[{'id': 'oi_3oocl7pb', 'created_at': '20181026...",20181026T141458.000Z,"[{'id': 's_9livqhn6', 'created_at': '20181026T...",DELIVERED,20181109T150000.000Z
4,"{'name': 'Guest Store', 'address1': '1455 Nort...",20181029T172532.000Z,bo_ei8yw53s,"[{'id': 'oi_6w08p2qr', 'created_at': '20181029...",20181029T172532.000Z,"[{'id': 's_7wa62cnd', 'created_at': '20181029T...",DELIVERED,20181112T180001.000Z
5,"{'name': 'Jeffs Place', 'address1': '888 7th S...",20181030T185735.000Z,bo_nlq8e8rl,"[{'id': 'oi_4z561rve', 'created_at': '20181030...",20181030T185735.000Z,"[{'id': 's_4dzjt809', 'created_at': '20181030T...",DELIVERED,20181113T190001.000Z
6,"{'name': 'Jeffrey Gulbronson', 'address1': '36...",20181031T190535.000Z,bo_39u2cikq,"[{'id': 'oi_1yyokxje', 'created_at': '20181031...",20181031T190535.000Z,"[{'id': 's_bztvxhz6', 'created_at': '20181031T...",DELIVERED,20181114T200001.000Z
7,"{'name': 'kljlkj', 'address1': 'jlkjkl', 'post...",20181031T210839.000Z,bo_ee2s5izt,"[{'id': 'oi_ekwyje54', 'created_at': '20181031...",20181031T210839.000Z,"[{'id': 's_81dpomdc', 'created_at': '20181031T...",DELIVERED,20181114T220002.000Z
8,"{'name': 'asd', 'address1': '55 Ivan Allen Jun...",20181031T211033.000Z,bo_fst2hhzi,"[{'id': 'oi_bmss68y6', 'created_at': '20181031...",20181031T211033.000Z,"[{'id': 's_96kejbtw', 'created_at': '20181031T...",DELIVERED,20181114T220002.000Z
9,"{'name': 'dsfasfasf', 'address1': 'asfasfas', ...",20181025T194243.000Z,bo_6s8tvwdg,"[{'id': 'oi_4ijzwzgz', 'created_at': '20181025...",20181025T194243.000Z,"[{'id': 's_6uxedu1z', 'created_at': '20181025T...",DELIVERED,20181119T160002.000Z
10,"{'name': 'Paul Test', 'address1': '20132 Steve...",20181025T193749.000Z,bo_526909wd,"[{'id': 'oi_as27khad', 'created_at': '20181025...",20181025T193749.000Z,"[{'id': 's_4cf71u21', 'created_at': '20181025T...",DELIVERED,20181119T160003.000Z
11,"{'name': 'asf', 'address1': 'as', 'postal_code...",20181026T134255.000Z,bo_6dqpl67m,"[{'id': 'oi_9hreyli9', 'created_at': '20181026...",20181026T134255.000Z,"[{'id': 's_9kodesxk', 'created_at': '20181026T...",DELIVERED,20181119T160003.000Z
12,"{'name': 'Jeffrey Gulbronson', 'address1': '36...",20181023T204408.000Z,bo_93w1xx96,"[{'id': 'oi_8qhr70fb', 'created_at': '20181023...",20181023T204408.000Z,"[{'id': 's_b5y167q4', 'created_at': '20181023T...",DELIVERED,20181126T160003.000Z
13,"{'name': 'asf', 'address1': 'asf', 'postal_cod...",20181025T193115.000Z,bo_f22cy5e7,"[{'id': 'oi_2etcxkli', 'created_at': '20181025...",20181025T193115.000Z,"[{'id': 's_3fb51ul5', 'created_at': '20181025T...",DELIVERED,20181126T160003.000Z
14,"{'name': 'asf', 'address1': 'asf', 'postal_cod...",20181025T195050.000Z,bo_4k2za6nt,"[{'id': 'oi_6shy4ea0', 'created_at': '20181025...",20181025T195050.000Z,"[{'id': 's_az5pmgtn', 'created_at': '20181025T...",DELIVERED,20181126T160003.000Z
15,"{'name': 'kjlkjkljlk', 'address1': 'jjljkljklj...",20181025T202834.000Z,bo_dtnd38h0,"[{'id': 'oi_at8vftfj', 'created_at': '20181025...",20181025T202834.000Z,"[{'id': 's_5utbjv3g', 'created_at': '20181025T...",DELIVERED,20181126T160003.000Z
16,"{'name': 'Paul Salvatore', 'address1': '2013 B...",20181025T205742.000Z,bo_9y9i90ii,"[{'id': 'oi_9k7se48c', 'created_at': '20181025...",20181025T205742.000Z,"[{'id': 's_7lf4qr2l', 'created_at': '20181025T...",DELIVERED,20181126T160003.000Z
17,"{'name': 'sad', 'address1': 'saf', 'postal_cod...",20181025T202636.000Z,bo_5l6ew1jv,"[{'id': 'oi_79ftsdps', 'created_at': '20181025...",20181025T202636.000Z,"[{'id': 's_47t1jeei', 'created_at': '20181025T...",DELIVERED,20181126T160004.000Z
18,"{'name': 'asfasfas', 'address1': '2727 Fondren...",20181025T202958.000Z,bo_ebxkm683,"[{'id': 'oi_59ndv9km', 'created_at': '20181025...",20181025T202958.000Z,"[{'id': 's_9a9hagvr', 'created_at': '20181025T...",DELIVERED,20181203T160003.000Z
19,"{'name': 'asd', 'address1': '108 Chesley Drive...",20181031T211231.000Z,bo_e7odse7p,"[{'id': 'oi_cx12flyj', 'created_at': '20181031...",20181031T211231.000Z,"[{'id': 's_77jsxaxc', 'created_at': '20181031T...",DELIVERED,20181203T160003.000Z
20,"{'name': 'Foo Bar', 'address1': '2 Mint Plaza'...",20181029T172046.000Z,bo_73frmvd8,"[{'id': 'oi_2oqnl2rb', 'created_at': '20181029...",20181029T172046.000Z,"[{'id': 's_7k3ln7wj', 'created_at': '20181029T...",DELIVERED,20181203T160004.000Z
21,"{'address1': '260 King st', 'address2': 'Unit ...",20180727T173932.000Z,bo_72sis0w5,"[{'id': 'oi_8nz0mqm0', 'created_at': '20180727...",20180727T173932.000Z,"[{'id': 's_8lq8kobo', 'created_at': '20181112T...",DELIVERED,20181217T160005.000Z
22,"{'name': 'Olivia Chen', 'address1': '638 Indep...",20180808T233050.000Z,bo_buzahfu2,"[{'id': 'oi_3jglojn5', 'created_at': '20180808...",20180808T233050.000Z,"[{'id': 's_299r323p', 'created_at': '20181108T...",DELIVERED,20190107T160003.000Z
23,"{'name': 'Jeff G', 'address1': '418 Delaware A...",20180703T183716.000Z,bo_azs3eust,"[{'id': 'oi_9sd2fk0u', 'created_at': '20180703...",20180703T183716.000Z,"[{'id': 's_8wn3e55v', 'created_at': '20181031T...",DELIVERED,20190107T160005.000Z
24,"{'name': 'kjlkljkl', 'address1': 'jkljlkjklj',...",20181026T134435.000Z,bo_d2sewo61,"[{'id': 'oi_9xhcemw0', 'created_at': '20181026...",20181026T134435.000Z,"[{'id': 's_55taeu4b', 'created_at': '20181026T...",DELIVERED,20190114T160004.000Z
25,"{'name': 'asfas', 'address1': 'safsaf', 'posta...",20181031T211306.000Z,bo_ell3sy86,"[{'id': 'oi_49u3wh31', 'created_at': '20181031...",20181031T211306.000Z,"[{'id': 's_b1ck6yqs', 'created_at': '20181031T...",DELIVERED,20190114T160005.000Z
26,"{'name': 'Olivia Chen', 'address1': '525 2nd S...",20181220T010348.000Z,bo_7z7z96t6,"[{'id': 'oi_706x8je8', 'created_at': '20181220...",20181220T010348.000Z,"[{'id': 's_ba53k8ws', 'created_at': '20190104T...",DELIVERED,20190203T230003.000Z
27,"{'name': 'Heidar Saleh', 'address1': '19377 St...",20190107T173741.000Z,bo_9fhw2fhe,"[{'id': 'oi_lewghxvk', 'created_at': '20190107...",20190107T173741.000Z,"[{'id': 's_eo0ivecw', 'created_at': '20190107T...",DELIVERED,20190205T183843.000Z
28,"{'name': 'Daniele', 'address1': '1920 Pacific ...",20181219T001344.000Z,bo_1dldrl3k,"[{'id': 'oi_3truhndf', 'created_at': '20181219...",20181219T001344.000Z,[],CANCELED,20190207T141656.000Z
29,"{'name': 'asjhdbas asdvas', 'address1': '1650 ...",20181211T212043.000Z,bo_2dj44y8u,"[{'id': 'oi_95azsac8', 'created_at': '20181211...",20181211T212043.000Z,"[{'id': 's_2xumhjwh', 'created_at': '20190107T...",DELIVERED,20190211T160005.000Z
...,...,...,...,...,...,...,...,...
63,"{'name': 'Jeff Gulbronson', 'address1': '525 2...",20190125T201529.000Z,bo_2jsj16qb,"[{'id': 'oi_6mhefccg', 'created_at': '20190125...",20190125T201529.000Z,[],BACKORDERED,20190324T131202.000Z
64,"{'name': 'new', 'address1': 'saddre', 'postal_...",20190128T011648.000Z,bo_94pzj2kn,"[{'id': 'oi_4mx2ci1x', 'created_at': '20190128...",20190128T011648.000Z,[],BACKORDERED,20190324T131202.000Z
65,"{'name': 'new', 'address1': 'saddre', 'postal_...",20190122T172435.000Z,bo_18qocq5r,"[{'id': 'oi_dzx4adcr', 'created_at': '20190122...",20190122T172435.000Z,[],BACKORDERED,20190324T131202.000Z
66,"{'name': 'Tw', 'address1': 'Fe', 'address2': '...",20190211T221914.000Z,bo_c7zgrit28t,"[{'id': 'oi_41owa8wtr5', 'created_at': '201902...",20190211T221914.000Z,[],BACKORDERED,20190324T131203.000Z
67,"{'name': 'Tw', 'address1': 'Fe', 'address2': '...",20190212T151204.000Z,bo_4yetxtwvw6,"[{'id': 'oi_4qebz5r5h6', 'created_at': '201902...",20190212T151204.000Z,[],BACKORDERED,20190324T131203.000Z
68,"{'name': 'Tw', 'address1': 'Fe', 'address2': '...",20190128T173009.000Z,bo_ctbw3e7v,"[{'id': 'oi_3c9u5t2d', 'created_at': '20190128...",20190128T173009.000Z,[],BACKORDERED,20190324T131203.000Z
69,"{'name': 'Jeff Gulbronson', 'address1': '5225 ...",20190124T174840.000Z,bo_z7s68ztl,"[{'id': 'oi_5ej4c316', 'created_at': '20190124...",20190124T174840.000Z,[],BACKORDERED,20190324T131203.000Z
70,"{'name': 'Tw', 'address1': 'Fe', 'address2': '...",20190212T155533.000Z,bo_cutpil9c9s,"[{'id': 'oi_4budw2u4vh', 'created_at': '201902...",20190228T170000.000Z,[],BACKORDERED,20190324T131204.000Z
71,"{'name': 'Jai Mankoo', 'address1': '354 Lawton...",20190212T164226.000Z,bo_enm04c1wym,"[{'id': 'oi_dh51ii1gb7', 'created_at': '201902...",20190212T164226.000Z,[],BACKORDERED,20190324T131204.000Z
72,"{'name': 'Tw', 'address1': 'Fe', 'address2': '...",20190128T203300.000Z,bo_c3lsin4rw1,"[{'id': 'oi_4m3nywelo1', 'created_at': '201901...",20190128T203300.000Z,[],BACKORDERED,20190324T131204.000Z
73,"{'name': 'Ian Edington', 'address1': '20413 Ex...",20190206T215754.000Z,bo_8lqduwzpa2,"[{'id': 'oi_cuo8oa5ccc', 'created_at': '201902...",20190206T215754.000Z,[],BACKORDERED,20190324T131204.000Z
74,"{'name': 'Tw', 'address1': 'Fe', 'address2': '...",20190226T215957.000Z,bo_6a0lzo8kr1,"[{'id': 'oi_aoqihs1ly6', 'created_at': '201902...",20190226T215957.000Z,[],BACKORDERED,20190324T131205.000Z
75,"{'address1': 'Indigo Fair ave', 'address2': ''...",20190226T222909.000Z,bo_e8otxdbwzc,"[{'id': 'oi_1csv7kj5p4', 'created_at': '201902...",20190401T190000.000Z,[],BACKORDERED,20190324T131205.000Z
76,"{'name': 'Daniele Perito', 'address1': '364 Ha...",20190213T145304.000Z,bo_bm43uhxqhn,"[{'id': 'oi_4by3qs3g6i', 'created_at': '201902...",20190213T145304.000Z,[],BACKORDERED,20190324T131205.000Z
77,"{'name': 'Jeff G Again', 'address1': '1455 Mar...",20190201T184050.000Z,bo_5mewt2cgsg,"[{'id': 'oi_1fnufh28c9', 'created_at': '201902...",20190201T184050.000Z,[],BACKORDERED,20190324T131205.000Z
78,"{'name': 'Tw', 'address1': 'Fe', 'address2': '...",20190319T212353.000Z,bo_9tt81f6idc,"[{'id': 'oi_6wp50cc5wz', 'created_at': '201903...",20190319T212353.000Z,[],BACKORDERED,20190324T131206.000Z
79,"{'name': 'Daniele Perito', 'address1': '2665 S...",20190306T161214.000Z,bo_d1td0ko57a,"[{'id': 'oi_38y8crh8m2', 'created_at': '201903...",20190306T161214.000Z,[],BACKORDERED,20190324T131206.000Z
80,"{'name': 'hkjhkj', 'address1': 'jjhlklj', 'add...",20190207T152513.000Z,bo_ak2r5afiwt,"[{'id': 'oi_8t1e9ze3ze', 'created_at': '201902...",20190207T152513.000Z,[],BACKORDERED,20190324T131206.000Z
81,"{'name': 'Tw', 'address1': 'Fe', 'address2': '...",20190219T141141.000Z,bo_ckijwbh74k,"[{'id': 'oi_9dyai1wsgi', 'created_at': '201902...",20190219T141141.000Z,[],BACKORDERED,20190324T131206.000Z
82,"{'name': 'Tw', 'address1': 'Fe', 'address2': '...",20190228T051902.000Z,bo_5btcr0r5xv,"[{'id': 'oi_4pugvpm5ev', 'created_at': '201902...",20190228T051902.000Z,[],BACKORDERED,20190324T131207.000Z
83,"{'address1': '1920 Pacific Ave', 'address2': '...",20190228T153431.000Z,bo_6sow896d9b,"[{'id': 'oi_2iqmelvb52', 'created_at': '201902...",20190320T160000.000Z,[],BACKORDERED,20190324T131207.000Z
84,"{'name': 'paul test', 'address1': '443 Valenci...",20190225T212218.000Z,bo_19zgc7cofu,"[{'id': 'oi_119q9jfsoa', 'created_at': '201902...",20190225T212218.000Z,[],BACKORDERED,20190324T131207.000Z
85,"{'name': 'Tw', 'address1': 'Fe', 'address2': '...",20190225T220448.000Z,bo_drgg2qhjt8,"[{'id': 'oi_cqta7i8dou', 'created_at': '201902...",20190225T220448.000Z,[],BACKORDERED,20190324T131207.000Z
86,"{'name': 'Ian Edington', 'address1': '20413 Ex...",20190228T233442.000Z,bo_1dgh085qds,"[{'id': 'oi_9q82x9mtzj', 'created_at': '201902...",20190228T233442.000Z,[],BACKORDERED,20190324T131208.000Z
87,"{'name': 'Tw', 'address1': 'Fe', 'address2': '...",20181219T014520.000Z,bo_2x2y799i,"[{'id': 'oi_g55irsr1', 'created_at': '20181219...",20181219T014520.000Z,[],BACKORDERED,20190324T131208.000Z
88,"{'name': 'Olivia Chen', 'address1': '385 Bartl...",20181220T005645.000Z,bo_2n8xl8jz,"[{'id': 'oi_822fwtm5', 'created_at': '20181220...",20181220T005645.000Z,[],BACKORDERED,20190324T131208.000Z
89,"{'name': 'Tw', 'address1': 'Fe', 'address2': '...",20190322T152147.000Z,bo_bgyscy9dvr,"[{'id': 'oi_9rfrvncslq', 'created_at': '201903...",20190330T160000.000Z,[],BACKORDERED,20190324T131208.000Z
90,"{'name': 'paul test', 'address1': '1230 U.S. 1...",20181218T141258.000Z,bo_alanim4r,"[{'id': 'oi_blzj70us', 'created_at': '20181218...",20181218T141258.000Z,[],BACKORDERED,20190324T131209.000Z
91,"{'name': 'paul test', 'address1': '3002 Broadw...",20181219T014333.000Z,bo_2ppdbqvn,"[{'id': 'oi_dcaed3su', 'created_at': '20181219...",20181219T014333.000Z,[],BACKORDERED,20190324T131209.000Z
92,"{'name': 'Troy Tao', 'address1': '738 10th Ave...",20190319T012423.000Z,bo_6in4gmx7oj,"[{'id': 'oi_70w26agpo9', 'created_at': '201903...",20190319T012423.000Z,[],BACKORDERED,20190324T131209.000Z

In [16]:
ordersDataFrame.state.value_counts()

BACKORDERED    48
DELIVERED      41
CANCELED        3
IN_TRANSIT      1
Name: state, dtype: int64

#### Queries
##### 1 - The best selling product option

Group by product id and product option id and sum the output.

In [17]:
def getBestSellingProductOption(ordersDataFrame):
    #Flat items list from ordersDataFrame
    itemsDataFrame = pd.DataFrame.from_dict([item for sublist in ordersDataFrame["items"].tolist() for item in sublist])
    #Group by product_id and product_option_id summing quantity and return a dataframe sorted in non ascending order
    bestSelling = itemsDataFrame.groupby(['product_id' ,'product_option_id']).sum().sort_values(by=['quantity'], ascending = False)
    return bestSelling.index[0][1]

getBestSellingProductOption(ordersDataFrame)

'po_bm2czlhz'

##### 2 - The largest order by dollar amount

In [18]:
def getLargestOrder(ordersDataFrame):
    #Flat items list from ordersDataFrame
    itemsDataFrame = pd.DataFrame.from_dict([item for sublist in ordersDataFrame["items"].tolist() for item in sublist])
    groupbyOrderId = itemsDataFrame.groupby(['order_id']).sum()
    orderValue = groupbyOrderId["price_cents"] * groupbyOrderId["quantity"]
    groupbyOrderId["total_price"] = orderValue
    largestOrderDataFrame = groupbyOrderId.sort_values(by=['total_price'], ascending = False).head()
    return largestOrderDataFrame.index[0]

getLargestOrder(ordersDataFrame)

'bo_6a0lzo8kr1'

##### 3 - The state with the most orders

In [19]:
def getStateWithMostOrders(ordersDataFrame):
    addressDataFrame = pd.DataFrame.from_dict(ordersDataFrame["address"].tolist())
    return addressDataFrame.state.value_counts().index[0]

getStateWithMostOrders(ordersDataFrame)

'California'

### Final code

In [21]:
import requests
import json
import pandas as pd

API_KEY = 'HQLA9307HSLQYTC24PO2G0LITTIOHS2MJC8120PVZ83HJK4KACRZJL91QB7K01NWS2TUCFXGCHQ8HVED8WNZG0KS6XRNBFRNGY71'

def queryProducts(APIKey):
    products = []
    pageIndex = 1
    parameters = {"page": pageIndex}
    myUrl = "https://www.faire-stage.com/api/v1/products"
    head = {"X-FAIRE-ACCESS-TOKEN": APIKey,
            "Accept": "application/json"}
    try:
        response = requests.get(myUrl, params=parameters, headers=head)
    except:
        print("Something wrong with your internet connection, try again")
        return []

    if (response.status_code == 200):
        currentPage = response.json()["products"]
        products = currentPage

        while(len(currentPage) == response.json()["limit"]):
            pageIndex += 1
            parameters = {"page": pageIndex}
            try:
                response = requests.get(myUrl, params=parameters, headers=head)
            except:
                print("Something wrong with your internet connection, try again")
                return []

            if (response.status_code == 200):
                currentPage = response.json()["products"]
                products += currentPage
            else:
                print("Servers are down, try again")
                return []
    else:
        print("Servers are down, try again")
        return []

    return products

def queryOrders(API_KEY):
    orders = []
    pageIndex = 1
    parameters = {"page": pageIndex}
    myUrl = "https://www.faire-stage.com/api/v1/orders"
    head = {"X-FAIRE-ACCESS-TOKEN": API_KEY,
            "Accept": "application/json"}
    try:
        response = requests.get(myUrl, params=parameters, headers=head)
    except:
        print("Something wrong with your internet connection, try again")
        return []

    if (response.status_code == 200):
        currentPage = response.json()["orders"]
        orders = currentPage
        
        while(len(currentPage) == response.json()["limit"]):
            pageIndex += 1
            parameters = {"page": pageIndex}
            try:
                response = requests.get(myUrl, params=parameters, headers=head)
            except:
                print("Something wrong with your internet connection, try again")
                return []
            if (response.status_code == 200):
                currentPage = response.json()["orders"]
                orders += currentPage
            else:
                print("Something wrong with servers")
                return [] 
    else:
        print("Something wrong with servers")
        return []

    return orders

def updateState(ordersDataFrame, ableToFullfill, index, orderIds):
    if(not ableToFullfill):
        #TODO: should we be sending Backordering Items, sending a post command
        #https://www.faire.com/api/v1/orders/<ID>/items/availability
        index = ordersDataFrame[ordersDataFrame.id == orderIds.values[index]].index[0]
        ordersDataFrame.state.iloc[index] = "BACKORDERED"

def updateInventory(order, productsDataFrame):
    for item in order:
        #TODO: send a PATCH https://www.faire.com/api/v1/products/options/<ID>
        optionsDataFrame = pd.DataFrame.from_dict(productsDataFrame.options[productsDataFrame.id == item["product_id"]].values[0])
        index = optionsDataFrame[optionsDataFrame.id == item["product_option_id"]].index[0]
        optionsDataFrame.available_quantity.iloc[index] -= item["quantity"]
        
        index = productsDataFrame.options[productsDataFrame.id == item["product_id"]].index[0]
        productsDataFrame.options.iloc[index] = optionsDataFrame.to_dict("records")
        
def processOrders(ordersInProcessingState, inventory, ordersDataFrame, productsDataFrame):
    orderIds = ordersInProcessingState["id"]
    for index, order in enumerate(ordersInProcessingState["items"]):
        ableToFullfill = False
        for item in order:
            if(not inventory[(inventory["product_id"] == item["product_id"]) & 
                             (inventory["id"] == item["product_option_id"])].empty):
                if (item["quantity"] <= 
                    inventory[(inventory["product_id"] == item["product_id"]) & 
                              (inventory["id"] == item["product_option_id"])].available_quantity.values[0]):
                    ableToFullfill = True
                else:
                    ableToFullfill = False
                    break
            else:
                ableToFullfill = False
                break
        if(ableToFullfill):
            updateInventory(order, productsDataFrame)
        updateState(ordersDataFrame, ableToFullfill, index, orderIds)
        
def getBestSellingProductOption(ordersDataFrame):
    #Flat items list from ordersDataFrame
    itemsDataFrame = pd.DataFrame.from_dict([item for sublist in ordersDataFrame["items"].tolist() for item in sublist])
    #Group by product_id and product_option_id summing quantity and return a dataframe sorted in non ascending order
    bestSelling = itemsDataFrame.groupby(['product_id' ,'product_option_id']).sum().sort_values(by=['quantity'], ascending = False)
    return bestSelling.index[0][1]

def getLargestOrder(ordersDataFrame):
    #Flat items list from ordersDataFrame
    itemsDataFrame = pd.DataFrame.from_dict([item for sublist in ordersDataFrame["items"].tolist() for item in sublist])
    groupbyOrderId = itemsDataFrame.groupby(['order_id']).sum()
    orderValue = groupbyOrderId["price_cents"] * groupbyOrderId["quantity"]
    groupbyOrderId["total_price"] = orderValue
    largestOrderDataFrame = groupbyOrderId.sort_values(by=['total_price'], ascending = False).head()
    return largestOrderDataFrame.index[0]

def getStateWithMostOrders(ordersDataFrame):
    addressDataFrame = pd.DataFrame.from_dict(ordersDataFrame["address"].tolist())
    return addressDataFrame.state.value_counts().index[0]

def execute(API_KEY):
    productsDataFrame = queryProducts(API_KEY)
    if(len(productsDataFrame) > 0):
        productsDataFrame = pd.DataFrame.from_dict(productsDataFrame)
        
        # Grouping the options so we can have everythin in one table
        optionsDataFrame = pd.DataFrame.from_dict([item for sublist in productsDataFrame["options"].tolist() for item in sublist])
        
        inventory = optionsDataFrame[(optionsDataFrame.available_quantity.notnull()) & (optionsDataFrame.available_quantity > 0)]

        orders = queryOrders(API_KEY)
        if(len(orders) > 0):
            ordersDataFrame = pd.DataFrame.from_dict(orders)
            
            ordersSorteredProcessingState = ordersDataFrame[ordersDataFrame.state == "PROCESSING"]
            ordersSorteredProcessingState = ordersSorteredProcessingState.sort_values(by=['ship_after'])
            
            processOrders(ordersSorteredProcessingState, inventory, ordersDataFrame, productsDataFrame)
            
            #Queries
            print(getBestSellingProductOption(ordersDataFrame))
            print(getLargestOrder(ordersDataFrame))
            print(getStateWithMostOrders(ordersDataFrame))
        else:
            print("No Orders to process")
    else:
        print("No Products to process")

execute(API_KEY)

po_bm2czlhz
bo_6a0lzo8kr1
California